
    #popup_win>div
    {
        position: absolute;/*fixed?*/
        background: white;
        border: 1px solid black;
        padding: 12px;
        display: none;
        width: 44%;
        border-radius: 9px;
        padding: 25px;
        /*left: 30%;
        top: 50%;*/
        /*margin: 0 30%;*/
        z-index: 100;
    }

    #cerne_pozadi
    {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        display: none;
        z-index: 50;
    }
    
    #popup_win>.alt_style1
    {
        width: 100px;
    }
    
    #popup_win>.alt_style1 [type=submit]
    {
        display: none;
    }
    
    #popup_win>.alt_style1 .zavrit
    {
        margin: 12px 0 12px 0;
    }